html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

body {
      margin: 0px;
      
      
    }
    
    .columnFlex {
	    margin-left: 0px;
	    width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
     align-items: center;
     justify-content: space-around; 
    }
    .rowFlex{
       
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      height: Min(80px , 10101010101010101010  background-color: white;
      flex-shrink: 1;
     
      
    }
    .title {
      margin-left: 10px;
      text-align: center;
      white-space: nowrap;
      font-weight: 900;
      font-family: "Lobster", serif;
      font-size: Min(30px, 5vw);
      height: 100%;
      border: solid 0px royalblue;
      border-radius: 10px;
      background-color: white;
      color: navy;
    }
    .title:hover {
      background-color: aliceblue;
      
    }
    
    .button{
      position: static;
      width: 100%;
      height: 100%;
      padding: 0px Min(1.5vw , 9px) 0px Min(1.5vw , 9px);
      border-radius: 0px;
      box-shadow: none;
      border: solid 0px;
      font-weight: 900;
      font-size: Min(18px , 3vw);
      white-space: nowrap;
      background-color: white;
      vertical-align: middle;
      z-index: 1;
   
      
    }
    .button:hover{
      background-color: aliceblue;
    }
    .dropMenu{
      display: block;
      width: 100%;
      position: relative;
      border-radius: 0px;
      box-shadow: none;
      border: solid 0px;
      font-weight: 600;
      font-size: Min(15px , 3vw);
      white-space: nowrap;
      background-color: white;
      color: black;
      z-index: 2;
      text-align: left;
      pointer-events: auto;
  
      
    }

    .dropMenu:hover {
      background-color: navy;
      color: white;
    }
    

    .intro {
      z-index: -1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      vertical-align: middle;
      font-family: 'Nanum Pen Script', cursive;
      font-size: Min(10vw, 10vh);
      pointer-events: none;
      margin-left: 0px;      
    }

    .simpleRowFlex{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
     margin-left: 0px; 
    }

    .cardButton{
      display: flex;
      flex-direction: column;
      border: solid lightcyan calc(5px + 1.5vw);
      border-radius: calc(10px + 1.5vw);
      align-items: center;
      width: 30vw;
      height: Min( 30vh, 27vw);
      margin: calc(10px + 3vw);
    }

    .titleStl{
      user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
      font-weight: 900;
      font-size: Max(15px , Min(5vw , 4vh));
      color: skyblue;
      background-color: lightcyan;
      width: 100%;
      text-align: center;
      padding: 5px;
      position: relative;
      top: -2px;
    }

    .simpleColFlex{
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .boxContent {
      user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
      font-family: "Hanna", serif;
      color: steelblue;
      font-size: Max(10px , Min(2.6vw , 3vh ));
    }

    .cardButton:hover {
      border-color: royalblue;
      background-color: royalblue;
    }

    .cardButton:hover .titleStl{
      color: white;
      background-color: royalblue;
    }
    .cardButton:hover .boxContent{
      color: white;
    }
